* {
    outline: 1px dotted red;
}

/* Step 2 of Form */
/* ------------------------------------- */
.step2 {
    display: none;
}

/* Container CSS */
/* ------------------------------------- */
.container {
    width: 50%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
}
